<h1>MeTube Home Directory</h1>

<h2>Movies</h2>

<ul>
	<li><%= link_to "Gladiator",   gladiator_path %></li>
	<li><%= link_to "Matilda",     matilda_path %></li>
	<li><%= link_to "Killer Klowns from Outer Space", klowns_path %></li>
	<li><%= link_to "The Waterboy", waterboy_path %></li>
</ul>


<h2>Clips</h2>
	<ul>
		<li><%= link_to "Seinfield",    seinfield_path %></li>
		<li><%= link_to "Friends",      friends_path %></li>
		<li><%= link_to "Parks & Rec",  parks_path %></li>
	</ul>
